<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to SPRINKLR, <%= @user.name %>!</h1>
    <p>
      You have signed up for Sprinklr.  That's great!  But we can't help you with your yard until you tell us some basic information about your yard.  We need your address, zip code, grass type, sprinkler type, and method that you want to receive your weekly watering plans. To update your information, just login to to the site: <%= @url %>.  You will need to log-in through your Google account: <%= @user.login_email %>.<br>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>