<h1>Your Watering Recommendations</h1>

<%=link_to 'Check out this week\'s Watering Plan!', [@user, @recommendations.first] %>

<table>
  <thead>
    <tr>
      <th>Watering Day</th>
      <th>Suggested Watering</th>
    </tr>
  </thead>

  <tbody>
    <% @recommendations.each do |recommendation| %>
        <% watering_date = recommendation.created_at.to_date + 1 %>
        <td><%= watering_date.strftime('%a %d %b %Y') %></td>
        <td><%= recommendation.min_irrigation.round(2) %> - <%= recommendation.max_irrigation.round(2) %> inches</td>
    <% end %>
  </tbody>
</table>

<br>

