<div class="splash">
  <div class="row">
    <div class="columns small-12">
      <h1>sprinklr!</h1>
      <h3>saving water and keeping your lawn green</h3>
      <h3>for customers of Austin Water Utility</h3>      
    </div>
  </div>
</div>
<p class="caption"><a href="http://gardek.deviantart.com/art/Green-grass-134434959"><em>Green Grass</em> by Gardek</a></p>

<div class="row">
  <div class="columns small-12">
    <h2>
      What do you get?
    </h2>
  </div>
  <div class="columns small-8">
    <ul>
      <li>
        <h5>never forget another watering day</h5>
      </li>
      <li>
        <h5>keep your lawn looking great</h5>
      </li>
      <li>
        <h5>follow drought water restrictions correctly</h5>
      </li>
      <li>
        <h5>never again wonder whether you watered enough or not too much</h5>
      </li>
      <li>
        <h5>receive customized watering suggestions based on your lawn</h5>
      </li>
      <li>
        <h5>do your part to save water</h5>
      </li>
      <li>
        <h5>choose to receive a reminder email or text</h5>
      </li>
      <li>
        <h5>easy-to-follow instructions even if you don't have a green thumb -- just look at the pictures</h5>
      </li>
      <li>
        <h5>watering regularly as needed prevents overwatering later</h5>
      </li>
    </ul>
  </div>
<div class="columns small-4">
  <div class="sign-in">
    <% if current_user %>
        <h5>Welcome back to sprinklr!</h5>
        <%= link_to "Your Profile", "/users/#{current_user.id}", class: 'button' %>
        <br>
        <%= link_to "Sign Out", "/signout", class: 'button' %>
    <% else %>
      <h5>Sign Up Now!</h5>
      <p></p>
      <%= link_to "GOOGLE SIGN IN", "/auth/google_oauth2", class: 'button' %> 
    <% end %>
  </div>
</row>

