<h1>Keepin' it Green!</h1>
<p>The key to saving water and keeping your lawn green.  For customers of Austin Water.</p>

<div class="home-sign-in">
  <% if current_user %>
    <%= link_to "SIGN OUT", "/signout", class: 'button code-font' %>
  <% else %>
    <%= link_to "GOOGLE SIGN IN", "/auth/google_oauth2", class: 'button code-font no-margin' %> 
  <% end %>
</div>

