<div class="columns small-12 medium-4">
  <h3 id="map-title"></h3>
  <h5 id = "date-title"></h5>
  <form id="map-form" action="">
    <select name="info" id="map-type">
      <option value="eto">Reference Evapotranspiration</option>
    </select>
    <input id="map-date" type="date">
    <input type="submit">
  </form>
</div>
<div class="columns small-12 medium-8" id="map"></div>


<%= javascript_include_tag "http://d3js.org/d3.v3.min.js" %>
<%= javascript_include_tag "http://d3js.org/queue.v1.min.js" %>
<%= javascript_include_tag "http://d3js.org/topojson.v1.min.js" %>
